<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="mzmr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <mzmr.Properties.Settings>
            <setting name="autoLoadRom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prevRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prevSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveMapImages" serializeAs="String">
                <value>False</value>
            </setting>
        </mzmr.Properties.Settings>
    </userSettings>
</configuration>
