<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="mzmr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <mzmr.Properties.Settings>
            <setting name="prevRomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="prevSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveMapImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customLogicPath" serializeAs="String">
                <value />
            </setting>
        </mzmr.Properties.Settings>
    </userSettings>
</configuration>
